<mat-toolbar id="toolbar" fxLayout="row" fxLayoutAlign="space-between center">
  <h1 routerLink="/countries/">Where in the world?</h1>

  <button mat-button (click)="toggleDarkMode()" id="darkMode-toggle">
    <mat-icon id="darkMode-icon">dark_mode</mat-icon>
    Dark Mode
  </button>
</mat-toolbar>

<div id="hideLoadingBar" style="display: none;">
  <div  id="loadingBar" fxLayout="column" fxLayoutAlign="center center">
    Loading data...
    <mat-progress-bar mode="query"></mat-progress-bar>
  </div>
</div>

<div id="main-container"
  fxFlex.gt-md="1280px"
  fxFlex.md="960px"
  fxFlex.sm="600px"
  fxFlex.lt-sm="300px"
>
  <router-outlet></router-outlet>
</div>