<div fxLayout="row" fxLayoutAlign="start-start" style="margin: 50px 0;">
    <button mat-button class="custom-button" routerLink="/countries"><mat-icon style="margin-right: 10px">west</mat-icon>Back</button>
    
</div>
<div *ngIf="currentCountry">
<div id="details-content-container" fxLayout="row wrap" fxLayoutAlign="space-between center">
    
    <div id="details-image-container" fxLayout="row" fxLayoutAlign="center center"  style="width:45%; min-width: 500px;  background-color: black;">
        <img style="min-width: 500px; margin: auto" src={{currentCountry.flag}}>
    </div>

    <div id="details-info-container"  style="width:50%" fxLayout="column" fxLayoutAlign="center center">
        <div id="details-name-container" class="details-text" fxLayout="row" fxLayoutAlign="start start">
            <h1>{{currentCountry.name}}</h1>
        </div >
        <div id="details-details-container" class="details-text" fxLayout="row wrap" fxLayoutAlign="space-between center" >
            <div class="details-items" fxLayout="column" fxLayoutAlign="start start">
                <p><strong>Native Name: </strong>{{currentCountry.nativeName}}</p>
                <p><strong>Population: </strong>{{currentCountry.population}}</p>
                <p><strong>Region: </strong>{{currentCountry.region}}</p>
                <p><strong>Sub Region: </strong>{{currentCountry.subregion}}</p>
                <p><strong>Capital: </strong>{{currentCountry.capital}}</p>
            </div>
            <div class="details-items"  fxLayout="column" fxLayoutAlign="start start" >
                <p><strong>Top Level Domain: </strong>{{currentCountry.topLevelDomain}}</p>
                <p><strong>Currencies: </strong>{{currentCountry.currencies[0].name}}</p>
                <p><strong>languages: </strong>{{currentCountry.languages[0].name}}</p>
            </div>
        </div>
        <div class="details-text" fxLayout="row" fxLayoutAlign="start start">
            <div style="white-space: nowrap;">
                <p><strong>Border Countries: </strong>
            </div>
            <div fxLayout="row wrap" fxLayoutAlign="start start">
                <div class="border-card" *ngFor="let border of currentBorders"  (click)="goToCountryPage(border)">{{border.toString()}}</div>
            </div>
        </div>
  
    </div>
</div>
</div>